# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages used in Data Science
* List popular libraries used in Data Science
* List different development environment open source tools used in data science
* Perform Arithmetic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. Ruby
3. C/C++
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Seaborn
2. NumPy
3. Pandas
4. Matplotlib

|Data Science Tools |
|-------------------|
|R Studio |
|Jupyter Notebook|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(83*4)+55

387

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Harmanpreet Singh